html {
  font-feature-settings:
    "rlig" 1,
    "calt" 1,
    "ss01" 1,
    "ss06" 1 !important;
}

code {
  font-feature-settings:
    "rlig" 0,
    "calt" 0 !important;
  font-variant-ligatures: none !important;
}

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
