.git
.gitignore
.github
.prettierrc
.eslintcache
.eslintrc.cjs
.husky

bun.lockb
node_modules
CHANGELOG.md

tests
test
docs
src
.DS_Store
test
tsconfig.json

CONTRIBUTING.md
CODE_OF_CONDUCT.md

build.ts