@import url(../fonts/geist/stylesheet.css);
@import url(../fonts/geist_mono/stylesheet.css);

:root {
  --md-text-font: "geistregular";
  --md-code-font: "geist_monomedium";
}

strong,
.md-nav__title,
.md-header__topic:first-child,
.admonition-title,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-family: "geistsemibold";
  font-weight: normal;
}

.md-typeset h4 code {
  font-family: var(--md-code-font);
  font-weight: normal;
}
